<% for(var i=0;i<details.length;i++){%>

    <tr>
        <td>
            <%= i+1%>
        </td>
        <td>
            <%= details[i].name%>
        </td>
        <td>
            <%= details[i].email%>
        </td>
        <td>
            <%= details[i].gender%>
        </td>
        <td>
            <%= details[i].status%>
        </td>
        <td>
            <a href="/update-user?id=<%= details[i]._id %>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fa-solid fa-pencil"></i></span>
            </a>
            <a class="btn border-shadow delete" data-id="<%= details[i]._id %>">
                <span class="text-gradient"><i class="fa-sharp fa-solid fa-xmark"></i></span>
            </a>
        </td>
    </tr>
    <%}%>